.playerTable {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    overflow-x: auto;
    display: block;
}

.playerTableHeader th {
    font-size: 1.2em;
    border: 2px solid black;
    padding: 0.5em;
    background-color: rgb(160, 130, 230);
}

.playerTable tr:nth-child(odd) {
    background-color: rgb(44, 44, 83);
}

.playerTable tr:nth-child(even) {
    background-color: rgb(25, 25, 73);
}
/* MOBILE STYLES */
@media (max-width: 600px) {
    .playerTable {
        max-width: 100%;
        font-size: 0.95em;
        padding: 0.5em;
    }
    .playerTableHeader th {
        font-size: 1em;
        padding: 0.25em;
    }
}
